html,
body {
  padding: 0;
  margin: 0;
  font-family:;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "NeueHaasUnica";
  src: url(/fonts/NeueHassUnica/NeueHaasUnica-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "NeueHaasUnica";
  src: url(/fonts/NeueHassUnica/NeueHaasUnica-ExtraLight.ttf);
  font-display: swap;
}
