@font-face {
  font-family: "textbold";
  src: url(../public/fonts/NeueHaasUnica/NeueHaasUnica-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "textlight";
  src: url(../public/fonts/NeueHaasUnica/NeueHaasUnica-ExtraLight.ttf);
  font-display: swap;
}

@font-face {
  font-family: "textlighttwo";
  src: url(../public/fonts/NeueHaasUnica/NeueHaasUnica-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: "heading";
  src: url(../public/fonts/GishellaMorely/Gishella\ Morely.ttf);
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "textlight";
  scroll-behavior: smooth;
  overflow-x: hidden;
}


a {
  display: flex;
  flex-dire
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

